ul {
  margin: 0;
  padding: 0; }

body {
  background-color: #1e2428; }

#main {
  margin: 50px auto 0;
  position: relative;
  width: 90%;
  background-color: #333;
  border: 1px solid #444;
  height: 600px; }

.nav {
  background: #4b525F;
  width: 100%; }
  .nav ul {
    padding: 10px; }

.menu-btn {
  width: 120px;
  background-color: #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 3px 0 #888888;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
  margin-left: 5px; }

.menu-btn:hover {
  box-shadow: 0 1px 0 #888888; }

#content {
  background-color: #EAEAEA;
  border: 2px solid #FAFAFA;
  height: 500px;
  margin: 10px;
  color: #444444;
  padding: 15px; }
  #content .model-info {
    display: table;
    width: 380px;
    height: 200px;
    background-color: #FFF;
    float: left;
    margin: 10px; }
    #content .model-info .img {
      display: table-cell;
      width: 40%;
      height: 100%;
      background-color: #1249FF; }
    #content .model-info .info {
      display: table-cell;
      height: 100%;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px; }
      #content .model-info .info h3 {
        font-size: 14px;
        font-weight: bold;
        color: #333;
        padding: 3px 0;
        border-bottom: solid 1px #CCC; }
      #content .model-info .info .description {
        height: 120px; }
        #content .model-info .info .description table td, #content .model-info .info .description table th {
          padding: 3px;
          font-size: 12px; }
      #content .model-info .info .ball-rate {
        margin-top: 10px; }
        #content .model-info .info .ball-rate span {
          background-color: #2ecc71;
          width: 38px;
          margin-left: 5px;
          padding: 8px;
          color: #fff;
          font-size: 14px;
          border-radius: 8px;
          float: left;
          margin-top: 2px; }
        #content .model-info .info .ball-rate span:hover {
          opacity: .7; }
