body {
  padding-top: 100px; }

img {
  width: 300px; }

.img-content {
  background-color: #d9edf7;
  overflow: auto;
  margin-bottom: 20px; }
  .img-content ul {
    overflow: auto; }
    .img-content ul li {
      background-color: #fff;
      border: solid 1px #000;
      min-height: 300px;
      display: inline-block;
      margin: 5px;
      vertical-align: top; }
