body {
  padding-top: 100px; }

.ball-rates .btn {
  margin-right: 4px;
  margin-bottom: 4px;
  width: 70px; }

.model-info {
  text-align: center; }

.panel-title {
  font-size: 13px;
  min-height: 28px; }
