html(lang="ja")
    head
        meta(charset="UTF-8")

        title パチサーチ
        link(href="asset/css/reset.css",rel="stylesheet",type="text/css")
        link(href="asset/css/lib/bootstrap/bootstrap.min.css", rel="stylesheet",type="text/css")
        link(href="asset/css/lib/bootstrap/bootswatch.min.css", rel="stylesheet",type="text/css")
        link(href="asset/css/event.css",rel="stylesheet",type="text/css")


    body
        include _nav
        for item in data
            div.img-content
                span #{item.mstore.name}
                ul(style="width:100%;")
                    for img in item.imglistmap
                        li
                            img(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" , data-original="#{img.src}",style="height:#{img.height}px;")
            span(style="clear:both;")

    script(src="http://code.jquery.com/jquery-1.11.2.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js")
    script(src="asset/js/event.js")


