html(lang="ja")
    head
        meta(charset="UTF-8")

        title パチサーチ | {mmodels.name} スペック詳細
        link(href="/asset/css/reset.css",rel="stylesheet",type="text/css")
        link(href="/asset/css/lib/bootstrap/bootstrap.min.css", rel="stylesheet",type="text/css")
        link(href="/asset/css/lib/bootstrap/bootswatch.min.css", rel="stylesheet",type="text/css")

    body(style="padding-top:100px")
        include _nav
        div.container
            div.main-content
                div.row
                    div.col-lg-12
                        .panel.panel-default
                            .panel-heading スペック
                            table.table
                                tbody
                                    tr
                                        th 大当り確率
                                        td 1/319.7→1/81.2
                                    tr
                                        th 賞球数
                                        td 3＆1＆15
                                    tr
                                        th 突入率
                                        td
                                    tr
                                        th 継続率
                                        td 80.3%
                                    tr
                                        th 平均連荘数&平均出玉
                                        td
                                    tr
                                        th 時短回数
                                        td
                                    tr
                                        th 時短引戻率
                                        td



